<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPrimerServicioWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50476/HostServer/PrimerServicioWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrimerServicioWCF"
                contract="IPrimerServicioWCF" name="BasicHttpBinding_IPrimerServicioWCF" />
        </client>
    </system.serviceModel>
</configuration>